@import "~materialize-css/dist/css/materialize.min.css";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

.card-action {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card-content{
  height: auto;
  overflow: hidden;
}

.card-content__text{
  font-size: .8em;
  word-wrap: break-word;
}

.dashboard-container{
  
  margin-top: 5em;
}

.btn--left-margin{
  margin-left: 1em;
}

.plans-wrapper{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.plan{
  width: 30%;
}

.plan-name{
  margin-left: .5em;
}


